body{
    background-color: black;
}
th{
    border: 2px;
    margin: 0;
    padding: 10px 20px;
    border-style:solid;
    background-color: rgb(144, 151, 151);
    height:50px;
    width: 30px;


}
.table-title{

    font-size:30px;
    font-weight:100;
    background-color: rgb(144, 151, 151);
    color:black;

}
