body{
    background-color: black;
    text-align: center;

}
h1{
    color: rgb(206, 202, 202);
    /*font-family: 'Satisfy', cursive;*/
    font-family: 'Gloria Hallelujah', cursive;
    /*font-family: 'Nanum Pen Script', cursive;*/
    /*font-family: 'Shojumaru', cursive;*/


    font-size: 60px;
    font-weight: 700px;
}
div{
    font-family: 'Gloria Hallelujah', cursive;
}


.navbar {
    background-color:black;
    line-height: 40px;

}

.navitem {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Gloria Hallelujah', cursive;

}
a {
    color:rgb(209, 203, 203);
    text-decoration:none;

}
.navbar-login {
    float: right;
    margin-right: 20px;
    padding: 0;
    line-height: 38px;
}

.timetable{
    width:1400px;
}
table{
    width:1400px;
}

th{
    border: 2px;
    margin: 0;
    padding: 0;
    border-style:solid;
    font-size:25px;
    background-color: rgb(144, 151, 151);
    width: 200px;
    word-wrap:break-word;
}
td{
    border: 2px;
    margin: 0;
    padding: 0;
    border-style:solid;
    background-color: rgb(144, 151, 151);
    width: 200px;
    word-wrap:break-word;
}
th.table-title{
    height:75px;
    font-size:35px;
}
tr.title{
    width: 1400px;
    height:75px;
    font-weight:200;
    background-color: rgb(144, 151, 151);
    color:black;
    font-family: 'Gloria Hallelujah', cursive;


}
tr{
    width:1400px;
    height:200px;
}

#blockContainer{
    width:231px;
    height:200px;
}
#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
#create-table-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
  }
  
.hidden {
    display: none;
}
  
.modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: rgb(203, 233, 196);
    border-radius: 15px;
}
  
.modal-header {
    position: relative;
    padding: 10px 20px;
}
  
.modal-header h3 {
    margin: 0;
    
    border-bottom: 2px solid rgb(29, 112, 18);


    font-size: 28px;
}
  
.modal-close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
  
  .modal-body {
    padding: 20px;
}
  
.table-input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
  }
  
.table-input-element label {
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
}
  
.table-input-element input,
.table-input-element textarea {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #aaa;
}
  
.table-input-element textarea {
    min-height: 64px;
}
  
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}
  
.modal-footer button {
    font-size: 20px;
    background-color: rgb(8, 156, 52);
    color: #333;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Gloria Hallelujah', cursive;

}
  
.modal-footer .modal-cancel-button:hover {
    background-color: rgb(234, 238, 17);
    font-family: 'Gloria Hallelujah', cursive;

}
  
  .modal-footer .modal-accept-button {
    background-color: #41e010;
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;

  }
  
  .modal-footer .modal-accept-button:hover {
    background-color:  rgb(234, 238, 17);
  }