<div class ="block">
    <input type="text" id="table-class-input" placeholder="Class..." value={{class}}>
    <input type="text" id="table-location-input" placeholder="location..."value={{location}}>
    <input type="text" id="table-time-input" placeholder="time..."value={{time}}>
</div>